<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css"/>
</head>
<header class="header">
<a href="#" class="active"><img src="/image/logo.png"alt="Logo" style="width:11.7% height=11.7%"></a>

<h1>My Career Center</h1><br>
</header>
<body>	
	
	<div>
		<nav class="navigation">
			<a href="/">Home</a>
			<a href="/admin">Admin</a>
			<!-- <a href="/home">Students</a> -->
			<a href="/student/login">Students</a>
			<!-- <a href="/employer">Employers</a> -->
			<a href="/employer/login">Employers</a>
		</nav>
	<br><br>
	</div>
    <div id='login'>
        <form action="/addemployers" method="post">
            <table>
                    <tr>
                        <td>
                            <strong>Employer Id :   </strong><input type="text" name="employer_id" id="employer_id">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Name :   </strong><input type="text" name="name" id="name">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Career Advisor :    </strong><input type="text" name="career_advisor" id="career_advisor">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Address :       </strong><input type="text" name="address" id="address">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>City :      </strong><input type="text" name="city" id="city">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Province : </strong><input type="text" name="province" id="province">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Zip Code :       </strong><input type="text" name="zip_code" id="zip_code">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Phone :       </strong><input type="text" name="phone" id="phone">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Emai :         </strong><input type="text" name="employer_email" id="employer_email">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
            </table>
        </form>
    </div>
        
<footer>
	<nav class="footer">
		<a href="">Help and Support</a>
		<a href="faq.html">FAQ's</a>
		<a href="AboutUs.html">About Us</a>
	</nav>
</footer>
</html>