<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css"/>
</head>
<header class="header">
<a href="#" class="active"><img src="/image/logo.png"alt="Logo" style="width:11.7% height=11.7%"></a>

<h1>My Career Center</h1><br>
</header>
<body>

		
	
	<div>
        <nav class="navigation">
            <a href="/">Home</a>
			<a href="/admin">Admin</a>
			<!-- <a href="/home">Students</a> -->
			<a href="/student/login">Students</a>
			<!-- <a href="/employer">Employers</a> -->
			<a href="/employer/login">Employers</a>

        </nav>
	<br><br>
	</div>
	</div>	
    <div id="ser">
        <h2 class="h2b1">Search Your Posted Jobs </h3>
           
            <form action="/searchjob" method="GET">
                <table id="customers">
                    <tr>
            <td> Company Name:</td><td><input type ="text" id="s_cmpny" name="s_cmpny" placeholder="Enter company name"/> </td>
           
        </tr>
    </table> 
    <button class="addbtn1" id="mybutton" type="submit">SEARCH</button>   
           
            </form>
       </div>

    
       <h2 class="h2b">Add a New Job </h3>
       
            <form action="/addjob" method="POST">
                <table id="customers">
                    <tr>
            <td> Id:</td><td><input type ="text" id="id" name="id" placeholder="Enter id"/> </td>
           
        </tr>
        <tr>
            <td> Company Name:</td><td><input type ="text" id="company_name" name="company_name" placeholder="Enter company name"/> </td>
        </tr>
        <tr>
            <td>Title:</td><td><input type ="text" id="title" name="title" placeholder="Enter title"/> </td>
        </tr>
        <tr>
            <td> Application Procedure:</td><td><input type ="text" id="application_procedure" name="application_procedure" placeholder="Enter application procedure"/> </td>
        </tr>
        <tr>
            <td> Documents Required:</td><td><input type ="text" id="doc_required" name="doc_required" placeholder="Enter doc required"/> </td>
        </tr>
        <tr>
            <td> Description:</td><td><input type ="text" id="desc" name="desc" placeholder="Enter description"/> </td>
        </tr>
        <tr>
            <td> Job Type:</td><td><input type ="text" id="job_type" name="job_type" placeholder="Enter job type"/> </td>
        </tr>
        <tr>
            <td> Number of position:</td><td><input type ="text" id="no_of_positions" name="no_of_positions" placeholder="Enter number of position"/> </td>
        </tr>
        <tr>
            <td> Salary:</td><td><input type ="text" id="salary" name="salary" placeholder="Enter salary"/> </td>
        </tr>
        <tr>
            <td>Targeted Programs:</td><td><input type ="text" id="targeted_pgms" name="targeted_pgms" placeholder="Enter targeted programs"/> </td>
        </tr>
        <tr>
            <td>Location:</td><td><input type ="text" id="location" name="location" placeholder="Enter location"/> </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add">
            </td>
        </tr>
    </table>    

            <!-- <button onclick=" myFunction()" class="addbtn" type="submit">ADD</button>    -->
            <!-- <input type="submit" value="Add"> -->
       
        </form>
          
       

</body>
<script>
    function myFunction() {
      alert("Successfully Added");
      
    }
   
    </script>

<section>
</section>
<footer>
	<nav class="footer">
		<a href="">Help and Support</a>
		<a href="faq.html">FAQ's</a>
		<a href="AboutUs.html">About Us</a>
	</nav>
</footer>
</html>