<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css"/>
</head>
<header class="header">
<a href="#" class="active"><img src="/image/logo.png"alt="Logo" style="width:11.7% height=11.7%"></a>

<h1>My Career Center</h1><br>
</header>
<body>	
	
	<div>
		<nav class="navigation">
			<a href="/">Home</a>
			<a href="/admin">Admin</a>
			<!-- <a href="/home">Students</a> -->
			<a href="/student/login">Students</a>
			<!-- <a href="/employer">Employers</a> -->
			<a href="/employer/login">Employers</a>
		</nav>
	<br><br>
	</div>
    <div id='login'>
        <h3>Student Login</h3>
        <form action="/student/profile" method="GET">
            <input type="text" name="id" id="id">
            <input type="submit" value="Go to Profile">
        </form>
    </div>
        
</body>
<section>
</section>
<footer>
	<nav class="footer">
		<a href="">Help and Support</a>
		<a href="faq.html">FAQ's</a>
		<a href="AboutUs.html">About Us</a>
	</nav>
</footer>
</html>